/* CARD-apart*/

.card-apart-link {
    flex-basis: 31%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2%;
    box-shadow: 2px 3px 3px rgb(153, 150, 150);
    align-items: center;
    padding: 5px 5px 10px 5px;
}

.card-apart{
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.card-image{
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-radius: 18px 18px 0 0;
}

.card-apart img {
    height: 115px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-apart:hover{   
    color: var(--blue);
    transition: all ease-out;  
    transform: scale(1.02);
 }

.card-body{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    max-height: 200px;
}

.card-body{
    margin: 0;
}

.card-body h3{
    margin: 5px 0 0 0;
}



@media screen and (max-width:768px)
{ 
    .card-apart img{
    height: 130px;
    width: 100%;
    }

    .card-apart p{
        margin: 12px 0;
    }
}