@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

 /*propriété box-sixing */ 
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

:root{
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --gray: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif; 
  
    max-width: 1440px;
    margin: auto;
    padding: 1%;

}


.container h1{
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.container p{
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.container h2{
    font-size: 21px;
    color: black;
    font-weight: 800;
}
.container h3{
    font-size: 18px;
    font-weight: 800;
}
/* header*/


/*introduction*/

.introduction{
    padding: 0 15px ;
    margin: 15px 0 ;
}

#logo{ /*FIXER TAILLE PHOTO*/
       
    height: 35px;
    width: auto;
    margin-right: auto;
    padding-left: 10px;

}

nav {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  
    
   
}

.sub-nav{
   
    display: flex;
   
}

nav a /*suppression lien souligné bleu*/
{
    color: black;
    padding: 30px;
    text-decoration: none;
    border-top: 3px solid transparent;
}

nav a:hover /* bordure bleu au survol*/
{
    color: var(--blue);
    border-top-color:  var(--blue);
    padding-top: 30px;
}



@media (max-width:768px)
{    
    body {
        padding:0;
    }

    .container{
        width: fit-content;
    }
    #logo {
        justify-content: center;
        margin: auto;
    }
   
    .nav { /*padding a enlever*/
        padding: 0 ;
    }

    .sub-nav{

       flex-basis: 100%;


    }
    .sub-nav a{ 
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey ;
     } 

    .sub-nav a:hover{
        border-bottom-color: #0065fc;
        border-top-color: transparent;

    }  
}   



/* SEARCH-FORM*/
.search-form{

    display: flex;  
    margin: 2px ;
}

.search-form >* {
    padding: 10px 13px
}


.fas.fa-map-marker-alt{
   
    background-color: var(--gray);
    border-radius: 12px 0 0 12px;
}

.search-form input{
    
    border: 1px solid var(--gray);
    
}

.search-form button{

    background-color: var(--blue);
    border-radius: 0 12px 12px 0;
    border: none;
    color: white;
  
}

.fas.fa-search {
    
    background-color: inherit;
    display: none ;
}


@media screen and (max-width:768px)
{    
    
   
    .search-text {
 
    display: none;
    }
   
    .fas.fa-search {
    
    display: inline ;
   }

}


/* FILTERS */

.filter{ 
    border: 2px solid var(--gray);
    border-radius: 40px;
    transition: all 1s ease-out ;
    
}
.filter-list {

    padding-top: 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.filter-list .fas {
    border: 1px solid var(--lightblue);
    border-radius: 50%;
    color: var(--blue);
    background-color: var(--lightblue);
    padding: 14px;
    margin: -3px;
}

.fas.fa-child{
    padding: 14px 16px;
}

.filter span{
    font-weight: bold;
    padding: 17px;
  
}

.filter:hover {
    background-color: var(--gray);
    border-color: var(--gray);
    transform: scale(1.15);
    color: var(--blue);
    cursor: pointer;
}

/*RESULTS MESSAGE*/
.results-message {

    display: flex;
    align-items: center;
    margin: 16px 0;
    gap: 10px;
    
}
.results-message .fas {
    border: 1px solid lightgrey;
    color: var(--blue);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 
}

/*apartments LISTS*/

.apartments-list{
    gap:30px;
   display: flex;
  
}

.city{
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    justify-content: space-between;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    border-radius: 20px;
    padding: 1%;
    
}

.city h2 {

    padding-left: 3%;
}

.city-apartments-list {
    
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
}
    
.apartments-list .city a{
    
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.plus{
    padding: 10px 0 10px 30px;
}



/*STARS*/

.blue{
    color: var(--blue);
}

.gray {
    color: var(--gray);
}

/*POPULAR*/

.city-apartments-list .popular-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.popular{

    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    border-radius: 20px;
    padding: 10px;
}

 

.popular-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

 .popular h2 {
     display: flex;
     justify-content: space-between;
    padding: 10px 0 10px 30px;;
 }

 
 @media screen and (max-width:992px)

 {    
   .apartments-list{
        flex-direction: column;
        flex-wrap: wrap;
   }
    .popular{
        
        order: -1;
        border-radius: 0;
        
    }

    .city {
        margin: 1% 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        background-color: white;

    }
 }
 
 @media screen and (max-width:768px)
{  
     .city-apartments-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
}




/* CARD-apart*/

.card-apart-link {
    
   
    flex-basis: 28%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2%;
    box-shadow: 2px 3px 3px rgb(153, 150, 150);
    align-items: center;
    padding: 5px  ;
}


.card-image{
   
    
    width: 100%;
    overflow: hidden;
    border-radius: 18px 18px 0 0;

}

.card-apart img {
    
    max-height: 130px;
    width: 130%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
   
}


.card-apart :hover  { 

    font-style: italic; /*RECHERCHER POUR CHANGER L EFFET*/
 }

.card-body{

    padding: 0 0 2% 4%;
    
}

.card-body h3{
    margin: 0;
}



@media screen and (max-width:768px)
{ 
    .card-apart img{

    max-height: 200px;
    width: 100%;
    }
}


 /*POPULAR-CARD*/

.card-popular {

    display: flex;
    width: 97%;
    max-height: 144px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 3px darkgrey;
    margin: 3% 0 0 0;
    padding: 5px 0 5px 5px;
    
}

.card-popular-image {
    min-height: 144px;
    width: 50%;
    overflow: hidden;
    border-radius: 18px 0 0 18px;
}

.card-popular img{

    height: 100%;
    width: 100%;
    border-radius: 20px 0 0;
    object-fit: cover;
}

.card-popular-body{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left: 15px;
}

.card-popular-body p,
.card-popular-body h3{
    margin: 5px 0;
}
.card-stars {
    margin-top: auto;
}
.card-popular-link {
   

    color: black;
    text-decoration: none;
}
.card-popular :hover  { 
    font-style: italic;
}






/*ACTIVITIES (A FAIRE)*/


.activities-list{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 550px; 
    justify-content: space-around;
 }
 
.activities-list img{
    object-fit: cover;
    width: 350px;
    max-height: 520px;

}

.card-activities {
   
    max-width: 24%;
    max-height: 520px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px var(--gray);
}


.card-activities img{

    
    border-radius: 20px 20px 0 0 ;
    max-width: 100%;
}

.big img{
    
    height: 466px;
} 

.médium-l img{
    height: 225px;
}

.small img{
    height: 161px;
}
.médium img{

    height: 186px;
}

.activities-list a{
    text-decoration: none;
    color: black;
    
}

.activities h2{
    margin-top: 2%;

}
.activities-list h3{

    margin: 0px;
    padding: 5%;
}
.activities-list p {
    font-weight: 700;
}


@media (max-width: 768px){

    .activities-list{
        gap: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: stretch;
        align-content: inherit;
        margin: 3%;
    }

    .card-activities {
        max-width: 100%;
        height: 100%;
    }
    .activities-list img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .activities h2 {
        margin: 5% 4%;
    }
    


}






/*FOOTER*/
