@media screen and (max-width:768px)
{    
    
        
    #logo {
        justify-content: center;
        margin: auto;
    }
   
    .wrapper{
        
        padding: 0 ;
        width:auto;
    }
   
    .sub-nav a{ 
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey ;
     } 

    .sub-nav a:hover{
        border-bottom-color: #0065fc;
        border-top-color: transparent;

    } 
    .appartments-list{
       flex-direction: column;
        flex-wrap: wrap;
    }
    .appartments-list .popular{
       
       order: -1;
       
   }
   .appartments-list>div{
       background-color: transparent;
   }
  
    .appartments-list{
    flex-direction: column;
    flex-wrap: wrap;
    }

    .appartments-list .popular{
   
   order: -1;
    }

    .appartments-list>div{
   background-color: transparent;
    }

   
     .search-form .search-text {
 
         display: none;
     }
     .fas.fa-search {
         background-color: inherit;
         display: inline ;
     }
     .search-form button{

        border-radius: 12px;
        position: relative;
        right: 8px;
     }
}


